@import '../../Scss/root';

.single {
	&__player {
		align-items: center;
		display: flex;
		flex-basis: 50%;
		justify-content: center;
		width: 50%;
		text-align: center;

		&-container {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			width: 80%;
		}

		&-avatar {
			svg {
				height: 150px;
				width: 150px;
			}
		}

		&-name {
			@include responsive-font-size(30px);
			font-weight: bold;
			margin: 0;
		}

		// TO-DO: reusable with 'single status'
		&-ready {
			background: $primary-color;
			border-radius: 50%;
			display: inline-block;
			height: 10px;
			margin-left: .5rem;
			width: 10px;

			&--off { background: $status-warn; }
			&--on { background: $status-ok; }
		}
	}
}
