.modal {
	background-color: rgba(0, 0, 0, .75);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&__wrapper {
		background-color: #fff;
		left: 50%;
		min-width: 90%;
		padding: 1em;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
