@import './Scss/fonts',
		'./Scss/root',
		'~normalize.css/normalize.css';


html,
body {
	background-color: $secondary-color;
	color: $text-color;
	font: normal normal 1em/1.5 $fontFamily;
}

*,
:after,
:before { box-sizing: border-box }

::selection {
	background: $primary-color;
	color: $secondary-color;
}

a {
	color: inherit;
	text-decoration: none;
}

.link {
	display: inline-block;

	&--medium { @include responsive-font-size(22px) }
	&--spaced { padding: .25em 1em }
	&--underline { text-decoration: underline }
}

.container {
	// max-width: $container;
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;

	@media screen and (max-width: 767px) { padding: 15px 0; }
}

.audio-controls {
	&__volume {
		border: none;
		background: transparent;
		position: fixed;
		bottom: 10px;
		right: 10px;

		svg {
			height: 30px;
			width: 30px;
		}
	}
}

.page {
	&--full {
		height: 100vh;
		width: 100%;
	}

	&--centered {
		align-items: center;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	&--bg-gradient {
		background-blend-mode: normal, multiply;
		background-color: #E4E4E1;
		background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
	}

	&--height-auto {
		height: initial;
		min-height: 100vh;
	}
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.card {
	background-color: rgba(255, 255, 255, .75);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	margin: .5em;
	padding: .5em 1em;
}
