@import '../../../Scss/root';

.single {
	&__play {
		&-btn {
			background: transparent;
			border: none;
			cursor: pointer;
			margin: 1em;
			padding: 0;
			transform: scale(1);
			transition: transform .25s ease;
			@media screen and (max-width: 767px) { margin: .125em }

			&:hover { transform: scale(1.25) }

			svg {
				height: 70px;
				width: 70px;

				@media screen and (max-width: 767px) {
					height: 40px;
					width: 40px;
				}
			}
		}
	}
}
