$primary-color: #272525!default;
$secondary-color: #fff!default;

$status-ok: #0b6f12!default;
$status-warn: #dcdc13!default;
$status-notice: #320fbd!default;

$container: 1170px!default;
$textContainer: 945px!default;

$fontFamily: "Source Sans", sans-serif!default;
$text-color: $primary-color!default;
