$primary-color: #272525!default;
$secondary-color: #fff!default;

$container: 1170px!default;
$textContainer: 945px!default;

$fontFamily: "Source Sans", sans-serif!default;
$text-color: $primary-color!default;
